# Auto detect text files for normal repository files
* text=auto

# Enforce LF for config files and Makefile
Makefile text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

# Keep all thirdparty files 100% raw and untouched
thirdparty/** -text
